<tr>
    <td>
        <a href="{{ url_for('main.user', username=log.user.username) }}">
            {{ log.user.username }}
        </a>
    </td>
    <td>{{ moment(log.timestamp).calendar() }}</td>
    <td>
        {% if log.physio_type == 'weight' %}
        體重
        <span class="badge badge-info">{{ log.value }}</span> 
        (kg)
        {% elif log.physio_type == 'body_fat' %}
        體脂率
        <span class="badge badge-info">{{ log.value }}</span> 
        (%)
        {% elif log.physio_type == 'blood_pressure' %}
        血壓
        <span class="label label-primary">{{ log.physio_subtype }}</span> <span class="badge badge-info">{{ log.value }}</span> 
        (mmHg)
        {% elif log.physio_type == 'blood_glucose' %}
        血糖
        <span class="badge badge-info">{{ log.value }}</span> 
        (mg/dL)
        {% elif log.physio_type == 'calorie' %}
        攝食
        <span class="badge badge-info">{{ log.value }}</span> 
        (kcal)
        {% elif log.physio_type == 'exercise' %}
        運動
        <span class="label label-primary">{{ log.physio_subtype }}</span> <span class="badge badge-info">{{ log.value }}</span>
        (min)
        {% endif %}

        {% if log.mission_id %}
        <span class="label label-success">任務紀錄</span>
        {% endif %}

        {% if log.physio_verify == 'physician' %}
        <span class="label label-info">醫師確認</span>
        {% endif %}
    </td>
    <td>
        <a href="{{ url_for('monitor.del_physio', username=log.user.username, id=log.id) }}" type="button" class="btn btn-danger">Remove</a>
    </td>
</tr>
