<tr>
    <td>
        <a href="{{ url_for('main.user', username=log.user.username) }}">
            {{ log.user.username }}
        </a>
    </td>
    <td>{{ moment(log.timestamp).calendar() }}</td>
    <td>
        測量了
        {% if log.physio_type == 'weight' %}
        體重
        <span class="badge badge-info">{{ log.value }}</span> 
        (kg)
        {% elif log.physio_type == 'body_fat' %}
        體脂率
        <span class="badge badge-info">{{ log.value }}</span> 
        (%)
        {% elif log.physio_type == 'blood_pressure' %}
        血壓
        <span class="badge badge-info">{{ log.value }}</span> 
        (mmHg)
        {% elif log.physio_type == 'blood_glucose' %}
        血糖
        <span class="badge badge-info">{{ log.value }}</span> 
        (mg/dL)
        {% endif %}
    </td>
    <td>
        <a href="{{ url_for('physio.del_physio', id=log.id) }}" type="button" class="btn btn-danger">Remove</a>
    </td>
</tr>
