{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    <h2>體重</h2>
    {% if weight %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Highcharts.setOptions({
                time: {
                    timezoneOffset: -16 * 60
                }
            });

            var averages = [
                {% for item in graph_item %}
                    [{{ item[0]}}, {{ item[1] }}],
                {% endfor %}
                    [{{ graph_item[-1][0] }}, {{ graph_item[-1][1] }}]
            ];

            Highcharts.chart('weight-graph', {

                title: {
                    text: 'Weight'
                },

                xAxis: {
                    type: 'datetime'
                },

                yAxis: {
                    title: {
                    text: null
                    }
                },

                tooltip: {
                    crosshairs: true,
                    shared: true,
                    valueSuffix: 'kg'
                },

                legend: {
                },

                series: [{
                    name: 'Weight',
                    data: averages,
                    zIndex: 1,
                    marker: {
                    fillColor: 'white',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                    }
                }]
            });
        });
    </script>
    <div id="weight-graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-3">User</th>
                <th class="col-sm-3">時間</th>
                <th class="col-sm-3">項目</th>
                <th class="col-sm-3">刪除</th>
            </tr>
        </thead>
    {% for log in weight %}
        {% include 'physio/_log.html' %}
    {% endfor %}
    </table>

    <h2>飲食</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-3">User</th>
                <th class="col-sm-3">時間</th>
                <th class="col-sm-3">項目</th>
                <th class="col-sm-3">刪除</th>
            </tr>
        </thead>
    {% for log in calorie %}
        {% include 'physio/_log.html' %}
    {% endfor %}
    </table>

    <h2>運動</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-sm-3">User</th>
                <th class="col-sm-3">時間</th>
                <th class="col-sm-3">項目</th>
                <th class="col-sm-3">刪除</th>
            </tr>
        </thead>
    {% for log in exercise %}
        {% include 'physio/_log.html' %}
    {% endfor %}
    </table>

    <!-- <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav> -->
{% endblock %}